body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    
}
main{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20vh;
    max-width: 20rem;
    background-color: white;
}
main img{
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.main-2nd{
    align-items: center;
    align-content: space-between;

}
.heading{
    text-align: center;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.plan{
    padding: 2rem;
    
}
.plan-sec{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid hsl(225, 100%, 98%);
    border-radius: 15px ;
    background-color: hsl(225, 100%, 98%);
}
.plan-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.plan-value p{
    margin: 1%;
}
.plan-value p:first-child {
    color: hsl(223, 47%, 23%);
    font-size: 15px;
    
}
.main-para{
    text-align: center;
    font-size: 16px;
    color:hsl(224, 23%, 55%);
    font-weight: 500;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
