body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}
main{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 20vh;
    width: 20rem;
    background-color: white;
}
main img{
    width: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.main-2nd{
    align-items: center;
    align-content: space-between;

}
.heading{
    text-align: center;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.plan{
    padding: 2rem;
    font-weight: 700;
    
}
.plan-sec{
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid hsl(225, 100%, 98%);
    border-radius: 15px ;
    background-color: hsl(225, 100%, 98%);
}
.plan-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.plan-value p{
    margin: 1%;

}
.plan-value p:first-child {
    color: hsl(223, 47%, 23%);
    font-size: 15px;
    
}
.plan-value p:nth-child(2){
    color:hsl(224, 23%, 55%);
}
.main-para{
    text-align: center;
    font-size: 16px;
    color:hsl(224, 23%, 55%);
    font-weight: 500;
}
.change-btn{
    color:rgb(81, 81, 177);
}
.change-btn:hover{
    cursor: pointer;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem;
    margin-top: 0%;
    padding:  1rem;
    border: 2px solid rgb(6, 6, 165);
    border-radius: 15px ;
    background-color: rgb(6, 6, 165);
    box-shadow: 0px 4px 6px rgb(81, 81, 177);
    color: white;
   font-weight: 900;
}
button:hover{
    background-color: rgb(81, 81, 177);
    border: 2px solid rgb(81, 81, 177);
    cursor: pointer;
}
.cancel{
    color: hsl(223, 47%, 23%);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
    cursor: pointer;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px){
    body{
        background-image: url("./images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
    }
    
}
