
*{
    margin: 0%;
    padding: 0%;
    border: none;
    outline: none;
    text-decoration: none;
}
body{
    margin: 20vh;
    width: 100%;
    height: 100vh;
    font-family: "Red Hat Display", sans-serif;
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-color: var(--pale-blue);
}

.main-body{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}


.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}